/* Estilização da parte de portfolio */
.img {
    padding: 10px;
}

img {
    width: 100%;
    box-shadow: 0 0 10px 0px black;
}

h2 {
    text-align: center;
    margin-top: 50px;
    color: #212F3D;
}

main {
    padding-bottom: 20px;
    height: inherit;
}